<!--<h1> here you got your task <% @tasks.each do |task| %>
  <%= task[:title]%>

  <%end%>
</h1>
<%= link_to "back to list", tasks_path %> -->


<h1> here you got your tasks</h1>
<ul>
<% @tasks.each do |task| %>
<li><%= link_to task.title, task_path(task) %></li>
<%= link_to "Delete", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure buddy?" } %>
<% end %>
</ul>


<%= link_to "add a new task", new_path %>
